:root {
    --primary-color: #3885cc;
    --secondary-color: #3867cc;
    --active-button-color: #2d70ae;
    --hover-button-color: #428fd6;
    --background-color: #282c34;
    --background-color-focus: #1f2228;
    --text-color: white;
}
