

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    box-sizing: border-box;
}

/* ******************** Cabecera ******************** */
header {
    background-color: var(--background-color-focus);
    display: grid;
    grid-template-columns: 55% 44% 2%;
    align-items: center;
    justify-items: end;
    padding: 0 20px;
    font-size: calc(5px + 0.8vmin);
    color: var(--text-color);
}
.large-letter {
    font-size: calc(10px + 4vmin);
    color: var(--primary-color-coder);
}
#Screen {
    height: 100vh;
}

/* ******************** Slicer ******************** */

.Slicer {
    display: flex;
    align-items: center;
}

.Slicer-toggle {
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: var(--secondary-color-coder);
    border-radius: 25px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Slicer-toggle:checked {
    background-color: var(--secondary-color-debugger);
}

.Slicer-toggle::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.Slicer-toggle:disabled {
    background-color: #6c8397;
    cursor: not-allowed;
}


.Slicer-toggle:checked::before {
    transform: translateX(25px);
}

.Slicer-label {
    font-size: 1.2rem;
    font-weight: bold;
}

/* ******************** CodeEditor ******************** */

#Coder {
    height: 100%;
    display: grid;
    grid-template-rows: 63% 35%;
    gap: 1%;
    color: var(--text-color);
}
#Code {
    max-width: 100%;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 4fr 1fr;
    box-sizing: border-box;
}
.Buttons {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

/* ******************** Editor ******************** */

#Container-Editor {
    background-color: var(--background-color-focus);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.25%;
    padding: 1%;
    width: 96.5%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Editor {
    width: 100%;
    height: 55vh;
    position: relative;
}

.cm-editor {
    height: 100%;
    font-size: 1rem;
}

.cm-scroller {
    overflow: auto;
}

/* Para asegurar que el código se ajusta bien dentro del editor */
.cm-content {
    white-space: pre-wrap !important;
    font-size: 1rem;
}
.cm-line {
    font-size: 1rem;
}

/* Nuevos estilos para breakpoints */
.cm-breakpoint {
    background-color: rgba(255, 0, 0,0.1);
    border-left: 10px solid red;
}

.cm-breakpoint-gutter {
    width: 200px;
    background-color: var(--background-color-focus);
    cursor: pointer;
}

/* .CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
  }
.breakpoint {
color: red;
font-size: 16px;
line-height: 0.8;
} */
 
/* ******************** Terminal ******************** */

#Terminal {
    background-color: var(--background-color-focus);
    margin-bottom: 1%;
    margin-left: 1%;
    padding: 1%;
    width: calc(100% - 4%);
    text-align: left;
    overflow: auto;
    height: 22vh;
}

#Output {
    font-size: 0.8rem;
    margin: 0;
}

/* ******************** Buttons ******************** */
.Button {
    border-radius: calc(8px + 1vmin);
    background-color: var(--primary-color-coder);
    font-size: calc(10px + 1.5vmin);
    width: 40%;
    
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: inherit;
    border-color: var(--secondary-color-coder);
    color: var(--text-color);
    cursor: pointer;
}

.Button:hover {
    background-color: var(--hover-button-color-coder);
    /* Color al pasar el ratón por encima */
}

.Button:active {
    background-color: var(--active-button-color-coder);
    cursor: pointer;
    /* Color al presionar el botón */
}

.Button:disabled {
    background-color: #6c8397;
    border-color: #5b6e80;
    cursor: not-allowed;
    /* Color al deshabilitar el botón */
}

#Debugger .Button {
    background-color: var(--primary-color-debugger);
    border-color: var(--secondary-color-debugger);
    width: 6%;
    height: auto;
    padding:0.5%;
}
.Button img {
    width: auto;  /* Define el ancho deseado */
    height: 3vh; /* Ajusta la altura manteniendo la proporción */
}

#Debugger .Reverse-Button {
    background-color: #21642d;
    border-color: #15421e;
}

#Debugger .Button:active {
    transform: translateY(2px);
}

/* ******************** Debugger ******************** */

#Debugger {
    height: 100%;
    display: grid;
    grid-template-rows: 25% 75%;

}

.Debugger-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    height: 75vh;
    padding: 17px;
}

.Debugg {
    background-color: var(--background-color-focus);
    padding: 15px;
    border-radius: 5px;
    height: 100%;
}

.Visual {
    background-color: var(--background-color-focus);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--primary-color-debugger);
}

.VerticalContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 80%;
}

.CodeShard {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    border-left: 4px solid var(--primary-color-debugger);
}

.ThreadContent {
    background-color: var(--background-color);
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
}

#Debugger .Buttons{
    margin-top: 1%;
    gap: 1%
}
