@import "../../../variables.css";

.Editor {
    background-color: var(--background-color-focus);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.25%;
    padding: 1%;
    min-height: 60%;
    min-width: 80%;
    text-align: left;
}
